<component name="ArtifactManager">
  <artifact type="war" name="SpringmvcAndMybatis:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringmvcAndMybatis-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringmvcAndMybatis:war exploded" />
    </root>
  </artifact>
</component>